.el-tag{
  margin-left: 10px;
  height: 30px;
  line-height: 30px;
  background-color: #FFEAEA;
  color: #EB5954;
  border-color: #EB5954;
}
.el-tag .el-tag__close {
  color: #EB5954;
}
.el-tag .el-tag__close:hover {
  background-color: #EB5954;
}
.button-new-tag {
  margin-left: 10px;
  height: 30px;
  line-height: 30px;
  padding-top: 0;
  padding-bottom: 0;
}
.input-new-tag {
  width: 90px;
  margin-left: 10px;
  vertical-align: bottom;
}
